/nc-api/target
/nc-api/.idea
.idea
node_modules
/nc-vue3/pnpm-lock.yaml
/nc-ui-vue3/pnpm-lock.yaml
/logs
/nc-ui-vue3/dist
/ng-scan/target
/nc-ui-vue3/package-lock.json
/nc-enjar/target
/nc_dbinit/target
/*/__pycache__/
nc_dbinit/target/*
nc_dbinit/target/*
nc-api/src/main/resources/static/
nc-api/src/main/resources/shell/
nc-data-sync/lib/
.vscode/
nc-data-sync/logs/*
nc-data-sync/download/*
nc-data-sync/dist
